body {
  display: grid;
  grid-template-columns: 1fr clamp(311px, calc(311px / 375px * 100vw), 445px) 1fr;
  grid-template-rows: 85px auto 65px auto 92px;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hero-image {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.hero-content {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  body {
    grid-template-rows: 85px auto 65px auto 62px;
  }

  header {
    grid-column: 1 / 2;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}