/* Header styles */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Logo styles */
.logo {
  width: 101px;
  height: 19.9px;
}

/* Hero content styles */
.hero-content {
  display: flex;
  width: 311.5px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-400);
}

/* Hero content text */
.hero-text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
  align-self: stretch;
}