button {
  /* layout */
  display: flex;
  width: 64px;
  height: 48px;
  padding: var(--spacing-200, 16px) var(--spacing-300, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100, 8px);
  flex-shrink: 0;
  /* styles */
  border-radius: 28px;
  background: var(--gradient-primary);
  box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.25);
}

button:disabled {
  background: #F8CDCD;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  button {
    width: 100px;
    height: 56px;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}