form {
  width: 100%;
}

.input-container {
  position: relative;
}

input {
  /* layout */
  display: flex;
  width: 100%;
  height: 48px;
  padding: var(--spacing-100) var(--spacing-300);
  align-items: center;
  gap: var(--spacing-100);
  /* styles */
  border-radius: 28px;
  border: 1px solid var(--color-pink-400);
  /* typography */
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 215%;
  color: var(--color-gray-100);
}

input::placeholder {
  /* text preset 3 */
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 215%;
  /* color */
  color: var(--color-pink-400);
  opacity: 0.5;
}

input:focus {
  border: 1px solid var(--color-pink-400);
  outline: none;
}

input:focus.input-error {
  border: 2px solid var(--color-red-400);
  outline: none;
}

.input-hover {
  /* layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  /* position */
  position: absolute;
  top: 0;
  right: 0;
}

#error-icon {
  /* layout */
  width: 24px;
  height: 24px;
}

#error-message {
  /* layout */
  margin-top: 10px;
  margin-left: 32px;
  /* typography */
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 215%;
  color: var(--color-red-400);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  input {
    height: 56px;
    padding: var(--spacing-200) var(--spacing-400);
    gap: var(--spacing-200);
  }

  .input-hover {
    gap: 16px;
  }
}