.pop-up {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pop-up-content button {
  color: var(--color-white);
  width: 60px;
  height: 40px;
  margin-top: 20px;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  .pop-up-content button {
    width: 80px;
    height: 40px;
  }
}